.DS_Store
.idea
node_modules

data.db
data.db-*

*.log

# Project data
apps/esi-cache
apps/grafana/data
apps/prometheus/*
apps/static-store/package-lock.json
apps/website/package-lock.json
docker/*.tar
RouterOS_Commands.md